/* Layout container */
.home-container {
  width: 100vw;
}

/* Logo section */
.home-cover-photo {
  background-image: url("/public/cover-photo.jpg");
  background-size: cover;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.home-slogan-container h1 {
  text-align: center;
  font-size: 3.7rem;
  color: white;
  padding: 5px 40px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* About section */
.home-about-container {
  margin: 40px 5%;
  background-color: white;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.home-about-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

/* Testimonials section */
.home-testimonials-container {
  margin: 40px 5%;
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.home-testimonials-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.home-testimonials-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 1080px) {
  .home-slogan-container h1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 768px) {
  .home-slogan-container h1 {
    font-size: 2.5rem;
  }

  .home-logo {
    width: 60%;
  }
}
