.service-content {
  margin: 40px 5%;
}

/* Header section */
.service-header {
  text-align: center;
  margin-bottom: 3rem;
}

.service-header h1 {
  font-size: 2.5rem;
  color: #727d73;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.service-header p {
  font-size: 1.1rem;
  color: #777;
  margin: 0;
}

/* Services section */
.services-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  padding-top: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.service-s-container p {
  margin-bottom: 12px;
  color: #444;
  font-weight: 500;
  border-left: 5px solid #aab99a;
  padding-left: 10px;
}
